/* 
    Light Theme
*/

$primary: #1d72aa;
$primary-hover: rgba(29, 114, 170, 0.8);

/* 
    Dark Theme
*/

$primary-dark: #10539e;
$background-dark: #18191a;
$color-dark: #d9d7e0;
$title-dark: rgba(255, 255, 255, 0.8);
$link-dark: rgba(255, 255, 255, 0.5);
