@import url("https://fonts.googleapis.com/css2?family=Kotta+One&display=swap");
* {
  &::after,
  &::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Kotta One", serif;
}

main {
  width: auto;
}

footer {
  clear: both;
  padding: 3rem 1.5rem 6rem;
}
